.user-dash {
    display: flex;
    margin-top: 70px;
}
.user-dash h3{
    text-transform: uppercase;
    margin-top: 9px;
}
.user-dashboard{
    margin-left: 170px;
}
  
.top{
    display: flex;
}

.top button{
    cursor: pointer;
    margin-top: 12px;
    margin-left: auto;
    margin-right: 30px;
   float:right;
    background-color: rgb(136, 183, 136);
    border: 0;
    padding:7px;
    border-radius: 10px;
    font-weight: 700;
}
@media (max-width: 800px) {
    .top button{
        margin-top: 5px;
        margin-left: 150px;
        margin-right: 15px;
       flex :1;
       float:right;
        background-color: rgb(136, 183, 136);
        border: 0;
        padding:7px;
        border-radius: 10px;
        font-weight: 700;
    }
}